body {
  background-color: #173F5F;
}

.logo-text {
  font-family: 'Courier New', Courier, monospace;
}


.profile_img {
  max-height: 600px;
  min-height: 500px;
  width: 600px;
  padding: 10px;
  margin: 30px 70px 0px 30px;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fade-in-button {
  animation: fade-in 1s ease-in-out;
}

.animate-fade-in-image {
  animation: fade-in 2s ease-in-out;
}





